body,
h1 {
    margin: 0;
    padding: 0;
}

body {
    background-color: navajowhite;
    font-family: Arial, sans-serif;
    text-align: center;
}

nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.title {
    flex-grow: 1;
    font-size: 40px;
}

/* Game Board Styling */
.board-tiles {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
}

.board-tile {
    position: relative;
    width: 20%;
    height: auto;
    border: 2px solid #000;
    cursor: pointer;
    margin: 10px;
    overflow: hidden;
    transition: border-color 0.3s, border-radius 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-tile:hover {
    border-color: limegreen
}

.board-tile img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.board-tile.clicked {
    border-color: limegreen;
    border-radius: 25%;
}

/* Game Pieces Styling */
.game-pieces-selection {
    padding: 20px;
}

.game-pieces {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 10px;
}

.game-piece-tile {
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    cursor: pointer;
    overflow: hidden;
    transition: border-color 0.3s, border-radius 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-align: center;
}

.game-piece-tile img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.game-piece-tile:hover {
    border-color: limegreen
}

.game-piece-tile.clicked {
    border-color: limegreen;
    border-radius: 25%;
}

.selected-pieces-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid #000;
    margin-top: 20px;
}

.selected-pieces-table th,
.selected-pieces-table td {
    padding: 10px;
    border: 1px solid #000;
}

.selected-pieces-table th {
    background-color: #333;
    color: #fff;
}

.selected-pieces-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.selected-pieces-table tbody tr:hover {
    background-color: #e0e0e0;
}

.piece-image-small {
    width: 40px;
    height: 40px;
}

.openWin {
    width: 30%;
    margin: 30px;
    background-color: navajowhite;
    color: black;
    padding: 15px 30px;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, width 0.5s;
}

.openWin:hover {
    background-color: limegreen;
    width: 50%;
}

.bgColorPicker {
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 5px;
    transition: filter 0.5s;
}

.bgColorPicker:hover {
    cursor: pointer;
    size: 110%;
    filter: brightness(70%);
}
